# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencias y módulos
node_modules/
vendor/

# Archivos de entorno
.env
.env.local

# Archivos de registro
*.log